<div>
  <h2 id="page-heading" data-cy="LawyerDetailsHeading">
    <span jhiTranslate="eCourtApp.lawyerDetails.home.title">Lawyer Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eCourtApp.lawyerDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lawyer-details"
        [routerLink]="['/lawyer-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eCourtApp.lawyerDetails.home.createLabel"> Create a new Lawyer Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lawyerDetails?.length === 0">
    <span jhiTranslate="eCourtApp.lawyerDetails.home.notFound">No lawyerDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lawyerDetails && lawyerDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fullName">
            <span jhiTranslate="eCourtApp.lawyerDetails.fullName">Full Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contactNo">
            <span jhiTranslate="eCourtApp.lawyerDetails.contactNo">Contact No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emailId">
            <span jhiTranslate="eCourtApp.lawyerDetails.emailId">Email Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="barRegnNo">
            <span jhiTranslate="eCourtApp.lawyerDetails.barRegnNo">Bar Regn No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="eCourtApp.lawyerDetails.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lawyerExperience">
            <span jhiTranslate="eCourtApp.lawyerDetails.lawyerExperience">Lawyer Experience</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freefield1">
            <span jhiTranslate="eCourtApp.lawyerDetails.freefield1">Freefield 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freefield2">
            <span jhiTranslate="eCourtApp.lawyerDetails.freefield2">Freefield 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userType">
            <span jhiTranslate="eCourtApp.lawyerDetails.userType">User Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lawyerType">
            <span jhiTranslate="eCourtApp.lawyerDetails.lawyerType">Lawyer Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActivated">
            <span jhiTranslate="eCourtApp.lawyerDetails.isActivated">Is Activated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="eCourtApp.lawyerDetails.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="eCourtApp.lawyerDetails.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lawyerDetails of lawyerDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lawyer-details', lawyerDetails.id, 'view']">{{ lawyerDetails.id }}</a>
          </td>
          <td>{{ lawyerDetails.fullName }}</td>
          <td>{{ lawyerDetails.contactNo }}</td>
          <td>{{ lawyerDetails.emailId }}</td>
          <td>{{ lawyerDetails.barRegnNo }}</td>
          <td>{{ lawyerDetails.address }}</td>
          <td>{{ lawyerDetails.lawyerExperience }}</td>
          <td>{{ lawyerDetails.freefield1 }}</td>
          <td>{{ lawyerDetails.freefield2 }}</td>
          <td jhiTranslate="{{ 'eCourtApp.UserType.' + lawyerDetails.userType }}">{{ lawyerDetails.userType }}</td>
          <td jhiTranslate="{{ 'eCourtApp.LawyerType.' + lawyerDetails.lawyerType }}">{{ lawyerDetails.lawyerType }}</td>
          <td>{{ lawyerDetails.isActivated }}</td>
          <td>{{ lawyerDetails.lastModifiedBy }}</td>
          <td>{{ lawyerDetails.lastModified }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lawyer-details', lawyerDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lawyer-details', lawyerDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lawyerDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="lawyerDetails && lawyerDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
